# Gradle
.gradle/
build/
/build/
*/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
bin/

# Keep the Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# System Files
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Ignore local configuration files
**/src/main/resources/application-local.yml

# Ignore all local-specific yaml files
**/src/main/resources/application-local.yml
**/src/main/resources/application-local.properties